/* Example custom font-face skeleton for your project */
@font-face {
  font-family: 'MightySouly';
  src: 
       url('../MightySouly.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Super Joyful';
  src: 
       url('../Super Joyful.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
